@{
    ViewBag.Title = "About: Stephanie Henderson Photography";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<h3>A Personal Photographer. Captures your life's moments in your life's places. </h3>

<address>
    S/H Photography<br />
    PO Box 105<br />
    Dousman, WI 53118<br />
    <abbr title="Phone">P:</abbr>
    262.424.7780
</address>
