@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    <h1>Photographer For Hire.</h1>
    <h2>Services Provided:</h2>
    <h3>In-Studio Shoot: $100 (Please set aside 2 hours for In-Studio shoot). </h3>
    <h3>On-Location Shoot: $150 (Please set aside 3 hours for On-Location Shoot).</h3>
    <h4>$50 Deposit will be required once reservation is approved.</h4>

</div>

<div class="row">
    <div class="col-md-6">
        <h2>Suggested Locations</h2>

        @Html.ActionLink("View", "Index", "Locations", new { area = "" }, new { @class = "btn btn-primary btn-md" })
    </div>
    <div class="col-md-6">
        <h2>Contact S/H Photography</h2>

        @Html.ActionLink("Email", "Index", "Emails", new { area = "" }, new { @class = "btn btn-primary btn-md" })
    </div>
    
</div>