@model ThePhotoShop5.Models.Client

@{
    ViewBag.Title = "Client Home";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Client Home</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Request New Appointment</h2>
        <p>
            
        </p>
        @Html.ActionLink("New", "Create", "Reservations", new { area = "" }, new { @class = "btn btn-default" })
    </div>
    <div class="col-md-4">
        <h2>Review Your Appointments</h2>
        <p>

        </p>
        @Html.ActionLink("View", "Index", "Reservations", new { area = "" }, new { @class = "btn btn-default" })
    </div>
    <div class="col-md-4">
        <h2>Have a Question?</h2>
        <p>

        </p>
        @Html.ActionLink("Email", "Index", "Emails", new { area = "" }, new { @class = "btn btn-default" })
    </div>
</div>


