@model ThePhotoShop5.Models.Client

@{
    ViewBag.Title = "Client Home";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Client Home</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>New Appointment</h2>
        <p>
            
        </p>
        @Html.ActionLink("New", "Create", "Reservations", new { area = "" }, new { @class = "btn btn-default" })
    </div>
    <div class="col-md-6">
        <h2>Review Current Appointments</h2>
        <p>

        </p>
        @Html.ActionLink("View", "Edit", "Reservations", new { area = "" }, new { @class = "btn btn-default" })
    </div>
    @*<div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>*@
</div>


