@model IEnumerable<ThePhotoShop5.Models.Reservation>
@{
    ViewBag.Title = "History";
}

<h2>Year Over Year History</h2>

<table class="table">
    <tr>
        <th>
            <p>Year</p>
        </th>
        <th>
            <p>Jan</p>
        </th>
        <th>
            <p>Feb</p>
        </th>
        <th>
            <p>Mar</p>
        </th>
        <th>
            <p>Apr</p>
        </th>
        <th>
            <p>May</p>
        </th>
        <th>
            <p>Jun</p>
        </th>
        <th>
            <p>Jul</p>
        </th>
        <th>
            <p>Aug</p>
        </th>
        <th>
            <p>Sep</p>
        </th>
        <th>
            <p>Oct</p>
        </th>
        <th>
            <p>Nov</p>
        </th>
        <th>
            <p>Dec</p>
        </th>

    </tr>

    <tr>
        <td>
            <p>2018</p>
        </td>
        <td>
            <p>19</p>
        </td>
        <td>
            <p>18</p>
        </td>
        <td>
            <p>30</p>
        </td>
        <td>
            <p>33</p>
        </td>
        <td>
            <p>52</p>
        </td>
        <td>
            <p>44</p>
        </td>
        <td>
            <p>*</p>
        </td>
        <td>
            <p>*</p>
        </td>
        <td>
            <p>*</p>
        </td>
        <td>
            <p>*</p>
        </td>
        <td>
            <p>*</p>
        </td>
        <td>
            <p>*</p>
        </td>
    </tr>

    <tr>
        <td>
            <p>2017</p>
        </td>
        <td>
            <p>15</p>
        </td>
        <td>
            <p>23</p>
        </td>
        <td>
            <p>29</p>
        </td>
        <td>
            <p>38</p>
        </td>
        <td>
            <p>44</p>
        </td>
        <td>
            <p>34</p>
        </td>
        <td>
            <p>21</p>
        </td>
        <td>
            <p>15</p>
        </td>
        <td>
            <p>14</p>
        </td>
        <td>
            <p>21</p>
        </td>
        <td>
            <p>22</p>
        </td>
        <td>
            <p>8</p>
        </td>
    </tr>

    <tr>
        <td>
            <p>2016</p>
        </td>
        <td>
            <p>5</p>
        </td>
        <td>
            <p>9</p>
        </td>
        <td>
            <p>21</p>
        </td>
        <td>
            <p>31</p>
        </td>
        <td>
            <p>30</p>
        </td>
        <td>
            <p>27</p>
        </td>
        <td>
            <p>11</p>
        </td>
        <td>
            <p>8</p>
        </td>
        <td>
            <p>11</p>
        </td>
        <td>
            <p>18</p>
        </td>
        <td>
            <p>23</p>
        </td>
        <td>
            <p>5</p>
        </td>
    </tr>

</table>