@model IEnumerable<ThePhotoShop5.Models.Reservation>
@{
    ViewBag.Title = "History";
}

<h2>Sales History</h2>

<table class="table">
    <tr>
        <th>
            <p>Year</p>
        </th>
        <th>
            <p>Jan</p>
        </th>
        <th>
            <p>Feb</p>
        </th>
        <th>
            <p>Mar</p>
        </th>
        <th>
            <p>Apr</p>
        </th>
        <th>
            <p>May</p>
        </th>
        <th>
            <p>Jun</p>
        </th>
        <th>
            <p>Jul</p>
        </th>
        <th>
            <p>Aug</p>
        </th>
        <th>
            <p>Sep</p>
        </th>
        <th>
            <p>Oct</p>
        </th>
        <th>
            <p>Nov</p>
        </th>
        <th>
            <p>Dec</p>
        </th>
        <th>
            <p>Break Down</p>
        </th>
    </tr>

    <tr>
        <td>
            <p>2018</p>
        </td>
        <td>
            <p>19</p>
        </td>
        <td>
            <p>18</p>
        </td>
        <td>
            <p>30</p>
        </td>
        <td>
            <p>33</p>
        </td>
        <td>
            <p>52</p>
        </td>
        <td>
            <p>44</p>
        </td>
        <td>
            <p>*</p>
        </td>
        <td>
            <p>*</p>
        </td>
        <td>
            <p>*</p>
        </td>
        <td>
            <p>*</p>
        </td>
        <td>
            <p>*</p>
        </td>
        <td>
            <p>*</p>
        </td>
        <td>
            @Html.ActionLink("View Info", "HistoryChart2018", "Owners")
        </td>
    </tr>
    
    <tr>
        <td>
            <p>2017</p>
        </td>
        <td>
            <p>15</p>
        </td>
        <td>
            <p>23</p>
        </td>
        <td>
            <p>29</p>
        </td>
        <td>
            <p>38</p>
        </td>
        <td>
            <p>44</p>
        </td>
        <td>
            <p>34</p>
        </td>
        <td>
            <p>21</p>
        </td>
        <td>
            <p>15</p>
        </td>
        <td>
            <p>14</p>
        </td>
        <td>
            <p>21</p>
        </td>
        <td>
            <p>22</p>
        </td>
        <td>
            <p>8</p>
        </td>
        <td>
            @Html.ActionLink("View Info", "HistoryChart2017", "Owners")
        </td>
    </tr>

    <tr>
        <td>
            <p>2016</p>
        </td>
        <td>
            <p>4</p>
        </td>
        <td>
            <p>9</p>
        </td>
        <td>
            <p>21</p>
        </td>
        <td>
            <p>31</p>
        </td>
        <td>
            <p>30</p>
        </td>
        <td>
            <p>27</p>
        </td>
        <td>
            <p>11</p>
        </td>
        <td>
            <p>8</p>
        </td>
        <td>
            <p>11</p>
        </td>
        <td>
            <p>18</p>
        </td>
        <td>
            <p>23</p>
        </td>
        <td>
            <p>5</p>
        </td>
        <td>
            @Html.ActionLink("View Info", "HistoryChart2016", "Owners")
        </td>
    </tr>

</table>

<h2>Year Over Year Average</h2>
<table class="table">
    <tr>
        <th>
            <p>Year</p>
        </th>
        <th>
            <p>Jan</p>
        </th>
        <th>
            <p>Feb</p>
        </th>
        <th>
            <p>Mar</p>
        </th>
        <th>
            <p>Apr</p>
        </th>
        <th>
            <p>May</p>
        </th>
        <th>
            <p>Jun</p>
        </th>
        <th>
            <p>Jul</p>
        </th>
        <th>
            <p>Aug</p>
        </th>
        <th>
            <p>Sep</p>
        </th>
        <th>
            <p>Oct</p>
        </th>
        <th>
            <p>Nov</p>
        </th>
        <th>
            <p>Dec</p>
        </th>
        <th>
            <p>Break Down</p>
        </th>
    </tr>

    <tr>
        <td>
            <p>Average</p>
        </td>
        <td>
            <p>13</p>
        </td>
        <td>
            <p>17</p>
        </td>
        <td>
            <p>26</p>
        </td>
        <td>
            <p>34</p>
        </td>
        <td>
            <p>42</p>
        </td>
        <td>
            <p>35</p>
        </td>
        <td>
            <p>16</p>
        </td>
        <td>
            <p>12</p>
        </td>
        <td>
            <p>13</p>
        </td>
        <td>
            <p>19</p>
        </td>
        <td>
            <p>23</p>
        </td>
        <td>
            <p>7</p>
        </td>
        <td>
            @Html.ActionLink("View Info", "HistoryAverage", "Owners")
        </td>
    </tr>

</table>