
@{
    ViewBag.Title = "Index";
}

<h2>Picture Proofs</h2>

<table class="table">
    <tr>
        <td>
            <p><img src="~/Content/Images/DSC_0532-2.jpg" width="324" height="477" /></p>
        </td>
        <td>
            <p><img src="~/Content/Images/DSC_0228-3.jpg" width="477" height="324" /></p>
        </td>
        <td>
            <p><img src="~/Content/Images/DSC_0409-3.jpg" width="324" height="477" /></p>
        </td>
    </tr>

    <tr>
        <td>
            <p><img src="~/Content/Images/DSC_0358-2.jpg" width="324" height="477" /></p>
        </td>
        <td>
            <p><img src="~/Content/Images/DSC_0547-2.jpg" width="477" height="324" /></p>
        </td>
        <td>
            <p><img src="~/Content/Images/DSC_0301-2.jpg" width="324" height="477" /></p>
        </td>
    </tr>
</table>